<form class="form-horizontal" id="settings_plugin_xbox_controller">
    <h3>Xbox Controller Einstellungen</h3>
    
    <div class="control-group">
        <label class="control-label">XY-Skalierungsfaktor:</label>
        <div class="controls">
            <input type="number" class="input-mini" data-bind="value: xyScaleFactor" min="1" max="500">
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">Z-Skalierungsfaktor:</label>
        <div class="controls">
            <input type="number" class="input-mini" data-bind="value: zScaleFactor" min="1" max="500">
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">E-Skalierungsfaktor:</label>
        <div class="controls">
            <input type="number" class="input-mini" data-bind="value: eScaleFactor" min="1" max="500">
        </div>
    </div>
</form>
