<div id="tab_plugin_xbox_controller" style="border: 3px solid green; padding: 15px;">
    <h3 style="color: green;">Xbox Controller Steuerung</h3>
    
    <div class="row-fluid">
        <div class="span12">
            <div class="alert alert-info">
                Controller Status: <span data-bind="text: controllerStatus"></span>
            </div>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span6">
            <div class="control-group">
                <label class="control-label">Testmodus:</label>
                <div class="controls">
                    <button class="btn" data-bind="click: toggleTestMode, css: {'btn-primary': isTestMode()}">
                        <span data-bind="text: isTestMode() ? 'Testmodus deaktivieren' : 'Testmodus aktivieren'"></span>
                    </button>
                </div>
            </div>
            
            <div data-bind="visible: isTestMode()">
                <h4>Controller-Werte (nur im Testmodus):</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Achse</th>
                            <th>Wert</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>X:</td>
                            <td data-bind="text: currentX"></td>
                        </tr>
                        <tr>
                            <td>Y:</td>
                            <td data-bind="text: currentY"></td>
                        </tr>
                        <tr>
                            <td>Z:</td>
                            <td data-bind="text: currentZ"></td>
                        </tr>
                        <tr>
                            <td>E:</td>
                            <td data-bind="text: currentE"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="span6">
            <h4>Controller-Belegung:</h4>
            <ul>
                <li><strong>Rechter Joystick:</strong> X/Y-Achsen bewegen</li>
                <li><strong>Linker Joystick:</strong> Extruder steuern</li>
                <li><strong>Trigger (LT/RT):</strong> Z-Achse bewegen</li>
                <li><strong>A-Taste:</strong> Home X/Y</li>
                <li><strong>B-Taste:</strong> Home X/Y/Z</li>
            </ul>
        </div>
    </div>
</div>
