<!-- Xbox Controller Navbar Item -->
<li class="dropdown navbar-toggle" style="display: inline-block;">
    <a href="#tab_plugin_xbox_controller" data-toggle="tab" title="Xbox Controller">
        <i class="fa fa-gamepad"></i> Xbox <span data-bind="attr: {class: backendControllerConnected() ? 'text-success' : 'text-danger'}">●</span>
    </a>
</li>