<div id="tab_plugin_xbox_controller">
    <h1>Xbox Controller</h1>
    
    <div class="row-fluid">
        <div class="span6">
            <div class="control-group">
                <label class="control-label">Controller-Status:</label>
                <div class="controls">
                    <span data-bind="text: controllerStatus"></span>
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">Test-Modus:</label>
                <div class="controls">
                    <button class="btn" data-bind="click: toggleTestMode, css: {active: isTestMode}">
                        <i class="fa" data-bind="css: {'fa-toggle-on': isTestMode(), 'fa-toggle-off': !isTestMode()}"></i>
                        <span data-bind="text: isTestMode() ? 'Aktiviert' : 'Deaktiviert'"></span>
                    </button>
                </div>
            </div>
        </div>
        
        <div class="span6" data-bind="visible: isTestMode">
            <h3>Controller-Werte (Test-Modus)</h3>
            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">X:</label>
                        <div class="controls">
                            <span data-bind="text: currentX"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Y:</label>
                        <div class="controls">
                            <span data-bind="text: currentY"></span>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label">Z:</label>
                        <div class="controls">
                            <span data-bind="text: currentZ"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">E:</label>
                        <div class="controls">
                            <span data-bind="text: currentE"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
