<li>
    <a href="#tab_plugin_xbox_controller" data-toggle="tab">
        <i class="fa fa-gamepad"></i> Xbox <span data-bind="attr: {class: backendControllerConnected() ? 'text-success' : 'text-danger'}">●</span>
    </a>
</li>